<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>welcome</h1>
    <form action="/home" method="post">
      <input type="text" name="title" >
      <input type="text" name="msg" >
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
