<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="user_name" >
      <input type="text" name="password" >
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
