<style>
*{
    font-family: 'Yusei Magic', sans-serif;
}
header{
    background: rgb(231, 150, 150);
    color: white;
    text-align: center;
    position:sticky;
}
footer{
    background:rgb(231, 150, 150);
    color:white;
    text-align: center;
    margin-top:320px;
}
ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
li{
    padding:10px;
    margin: auto;
}
.container{
   width:500px;
   margin:auto;
}
/* Chat containers */
div   
li:hover,button:hover,span{
    background-color:rgb(179, 255, 0);
}
span{
    border-radius: 40%;
}
.right{
    text-align: right;
}
.compose{
    box-sizing: border-box;
    max-width:800px;
    margin:auto;
}
#box{
    border:5px solid;
    width:500px;
    padding:10px;
    margin:30px;
    
}
#send{
    background-color: aqua;
    border-radius:3px;
    border-color:pink;
    padding:10px;
}
</style>