<style>
        *{
            font-family: 'Yusei Magic', sans-serif;
        }
        header{
            background: rgb(231, 150, 150);
            color: white;
            text-align: center;
            position:sticky;
        }
        footer{
            background:rgb(231, 150, 150);
            color:white;
            text-align: center;
            margin-top:320px;
        }
        ul{
            display:flex;
            flex-direction: row;
            list-style: none;
        }
        li{
            padding:10px;
            margin: auto;
        }
        .login{
            width:250px;
            margin:auto;
            text-align:center;
            border: 3px solid black;
            border-radius: 20%;
            padding:50px;
        }
        .login input{
            width: 200px;
            border: 2px solid black;
            border-radius:10px;
            text-align: center;
            margin:10px;
        }
        .login button{
            border-radius: 100px;
            
        }
        li:hover,button:hover{
            background-color:yellow;
        }
    </style>